.icon-bg {
    background: #3A3B3C;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 18px;
    margin-right: 10px;
}

.num-bg {
    background: #3A3B3C;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 18px;
    margin-right: 10px;
    margin-left: 20.8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
    margin-left: 10.5px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    top: 1.4px;

    background-color: #FDFFFC;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4392F1;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 3px #4392F1;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }